# Ignore gap directory
gap-4.12.2

# Ignore large file
ek-output.gz

# Ignore digraphs clone
/Digraphs/*

## except for my files
!/Digraphs/gap/weights.gi
!/Digraphs/gap/weights.gd
!/Digraphs/gap/doc.g
!/Digraphs/doc/weights.xml
!/Digraphs/read.g
!/Digraphs/init.g